<!--
File: bottom_nav.ejs
Student Name: Manvibolreach Ouk
Student ID: 301224112
Date: October 31, 2022
-->

<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
      &copy; Copyright 2022. Manvibolreach Ouk.
    </h6>
  </nav>
</footer>
